.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-md) var(--space-xl);
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-button-primary-text);
  width: 100%;
  text-align: center;
  cursor: pointer;
  gap: var(--space-md);
}

.primary {
  background-color: var(--color-button-primary-bg);
  border: var(--color-border-default);
}

.primary:hover {
  background-color: var(--color-button-primary-bg-hover);
  border: var(--color-border-hover);
}

.primary:active {
  background-color: var(--color-button-primary-bg-active);
  border: var(--color-border-active);
}
