.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-default);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-button-primary-text);
  width: 100%;
  text-align: center;
  cursor: pointer;
  gap: var(--space-sm);
  transition: var(--transition-elevation);
  box-shadow: var(--shadow-resting);
  white-space: nowrap;
  flex-wrap: nowrap;
}

.button:hover {
  transform: translateY(var(--translate-hover)) scale(var(--scale-hover));
  box-shadow: var(--shadow-hover);
}

.button:active {
  transform: translateY(var(--translate-active)) scale(var(--scale-active));
  box-shadow: var(--shadow-active);
}

.button svg {
  flex-shrink: 0;
}

.primary {
  background-color: var(--color-button-primary-bg);
  border: 1px solid var(--color-border-default);
  color: var(--color-button-primary-text);
}

.primary:hover {
  background-color: var(--color-button-primary-bg-hover);
  border: 1px solid var(--color-border-hover);
}

.primary:active {
  background-color: var(--color-button-primary-bg-active);
  border: 1px solid var(--color-border-active);
}

.primary:disabled {
  background-color: var(--color-button-disabled-bg);
  color: var(--color-button-disabled-text);
  cursor: not-allowed;
  opacity: 0.8;
}

.secondary {
  background-color: var(--color-button-secondary-bg);
  border: 1px solid var(--color-border-default);
  color: var(--color-button-secondary-text);
}

.secondary:hover {
  background-color: var(--color-button-secondary-bg-hover);
  border: 1px solid var(--color-border-hover);
}

.secondary:active {
  background-color: var(--color-button-secondary-bg-active);
  border: 1px solid var(--color-border-active);
}

.secondary:disabled {
  background-color: var(--color-button-disabled-bg);
  color: var(--color-button-disabled-text);
  cursor: not-allowed;
  opacity: 0.8;
}
