.button {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space-sm);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-button-primary-text);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-lg);
}
@media (min-width: 768px) {
  .button {
    box-shadow: var(--shadow-resting);
    transition: var(--transition-elevation);
  }

  .button:hover {
    box-shadow: var(--shadow-hover);
    transform: translateY(var(--translate-hover)) scale(var(--scale-hover));
  }
}

.button:active {
  box-shadow: var(--shadow-active);
  transform: translateY(var(--translate-active)) scale(var(--scale-active));
}

.button:focus-visible {
  border-radius: var(--radius-md);
  outline: 2px solid var(--color-secondary);
  outline-offset: 1px;
}

.button svg {
  flex-shrink: 0;
}

.primary {
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary-bg);
  border: 1px solid var(--color-border-default);
}

.primary:hover {
  background-color: var(--color-button-primary-bg-hover);
  border: 1px solid var(--color-border-hover);
}

.primary:active {
  background-color: var(--color-button-primary-bg-active);
  border: 1px solid var(--color-border-active);
}

.primary:disabled {
  color: var(--color-text-disabled);
  cursor: not-allowed;
  background-color: var(--color-surface-disabled);
  opacity: 0.8;
}

.secondary {
  color: var(--color-button-secondary-text);
  background-color: var(--color-button-secondary-bg);
  border: 1px solid var(--color-border-default);
}

.secondary:hover {
  background-color: var(--color-button-secondary-bg-hover);
  border: 1px solid var(--color-border-hover);
}

.secondary:active {
  background-color: var(--color-button-secondary-bg-active);
  border: 1px solid var(--color-border-active);
}

.secondary:disabled {
  color: var(--color-text-disabled);
  cursor: not-allowed;
  background-color: var(--color-surface-disabled);
  opacity: 0.8;
}
