.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.tempSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
