.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--container-max-width);
  gap: var(--space-xl);
  margin: 0 auto;
  padding: var(--space-lg);
}
@media (min-width: 768px) {
  .container {
    padding: var(--space-2xl) var(--space-7xl);
  }
}

.heroHeader {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}

.mobileHeroText {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}
@media (min-width: 768px) {
  .mobileHeroText {
    display: none;
  }
}

.desktopHeroText {
  display: none;
}
@media (min-width: 768px) {
  .desktopHeroText {
    display: block;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }
}

.searchSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-md);
}
@media (min-width: 768px) {
  .searchSection {
    flex-direction: row;
  }
}

.researchSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-lg);
}
@media (min-width: 768px) {
  .researchSection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .researchSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

.paginationSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  margin-bottom: var(--space-xl);
}

.pagingButton {
  font-size: var(--font-size-sm);
  padding: var(--space-sm);
  width: fit-content;
}

.pagingIndicator {
  width: auto;
  flex: none;
  font-size: var(--font-size-md);
}
