.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background: var(--color-overlay);
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  padding: var(--space-xl) var(--space-lg);
  margin: var(--space-lg);
  overflow: hidden;
  overflow-y: auto;
  background: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-resting);
  transition: var(--transition-elevation);
}
@media (min-width: 768px) {
  .modal {
    max-width: 700px;
    max-height: 90%;
    padding: var(--space-xl) var(--space-2xl);
    box-shadow: var(--shadow-resting);
    transition: var(--transition-elevation);
  }

  .modal:hover {
    box-shadow: var(--elevation-shadow-hover);
    transform: translateY(var(--translate-hover)) scale(var(--scale-hover));
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: transparent;
  border: transparent;
  transition: var(--transition-elevation);
}
.closeButton:hover {
  transform: translateY(var(--translate-hover)) scale(var(--scale-hover));
}
.closeButton:active {
  transform: translateY(var(--translate-active)) scale(var(--scale-active));
}
