.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-lg);
  text-align: left;
  border: 0.2px solid var(--color-border-default);
  border-radius: var(--radius-xl);
}
@media (min-width: 768px) {
  .card {
    box-shadow: var(--shadow-resting);
    transition: var(--transition-elevation);
  }
  .card:hover {
    box-shadow: var(--shadow-hover);
    transform: translateY(var(--translate-hover)) scale(var(--scale-hover));
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.authordateWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author,
.date {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.departmentContainer {
  align-self: flex-start;
  padding: var(--space-xs) var(--space-md);
  background-color: var(--color-gray-300);
  border-radius: var(--radius-lg);
}

.department {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
}

.abstract {
  display: -webkit-box;
  flex: 1;
  overflow: hidden;
  -webkit-line-clamp: 6;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
