.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--space-lg);
  gap: var(--space-xl);
}
@media (min-width: 768px) {
  .main {
    padding: var(--space-2xl) var(--space-7xl);
  }
}

.heroHeader {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}

.mobileHeroText {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}
@media (min-width: 768px) {
  .mobileHeroText {
    display: none;
  }
}

.desktopHeroText {
  display: none;
}
@media (min-width: 768px) {
  .desktopHeroText {
    display: block;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }
}

.searchSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-md);
}
@media (min-width: 768px) {
  .searchSection {
    flex-direction: row;
  }
}

.searchBar {
}
@media (min-width: 768px) {
  .searchBar {
  }
}

.filterButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

.filterButton {
  flex: 1;
}

.researchSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
@media (min-width: 768px) {
  .researchSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-xl);
  }
}
@media (min-width: 1536px) {
  .researchSection {
    grid-template-columns: repeat(4, 1fr);
  }
}

.paginationSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  margin-bottom: var(--space-xl);
}

.pagingButton {
  font-size: var(--font-size-xs);
  padding: var(--space-xs);
}

.pagingIndicator {
  width: auto;
  flex: none;
  font-size: var(--font-size-md);
}
