.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.label {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

.loginButton {
  margin-top: var(--space-md);
}
