.requestTable {
  width: 100%;
}

.statusBadge {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.statusPending {
  color: var(--color-warning);
}

.statusAccepted {
  color: var(--color-success);
}

.statusRejected {
  color: var(--color-error);
}

.downloadButton {
  width: fit-content;
  font-size: var(--font-size-sm);
}

.iconDownload {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.acceptedRow {
  border-left: 3px solid var(--color-success);
}

.rejectedRow {
  border-left: 3px solid var(--color-error);
}

.pendingRow {
  border-left: 3px solid var(--color-warning);
}
